*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.bg-image{
  
  height: 100vh;
  width: 100%;
  /* background-color: blueviolet; */
  background-image: url('/assets/vecteezy_technology-background_ma1220.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content{
  margin: 16px;
  padding: 90px;
  position:relative;
  top: 10%;
}

.head h1{
  color: blueviolet;
  font-weight: bolder;
  font-family: dm sans,sans-serif;
  letter-spacing: 1px;
  text-transform:uppercase;
}

.head span{
  font-weight: 600;
  font-size: 1.3rem;
  color: black;
  letter-spacing: 1px;
  font-family: dm sans,sans-serif;;
  line-height: 33px;
}

input::-webkit-input-placeholder {
  font-size: 15px;
}


.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.frgpswd{
  display: flex;
  justify-content: center;
  align-items: center;
}

.frgpswd a{
  text-decoration: none;
}

.example-full-width {
  width: 100%;
  
}