<div class="row">
    <div class="col-md-7">
      <div class="bg-image">
        
      </div>
    </div>

    <div class="col-md-5">
      <div class="content">
        <div class="head">
          <h1 style="font-size: 2rem; font-weight:bolder">TechPool</h1><br>
          <span>Hi, <br> Welcome to TechPool</span>
        </div><br>
        <div class="loginForm">
        <div>
          <input class="form-control form-control-lg" type="text" placeholder="&nbsp;&nbsp;UserName" >
        </div><br>
        <div>
          <input class="form-control form-control-lg" type="text" placeholder="&nbsp;&nbsp;Password" >
        </div><br>
        <div class="btn">
          <button style="width: 100%; background-color: blue; color:#fff;" mat-button color="primary" routerLink="/masterpage">Login</button>
        </div><br>
        <div class="frgpswd">
          <a href="#">Forgot password</a>
        </div>
        </div>
      </div>
    </div>
</div>
