<mat-stepper [linear]="isLinear" #stepper style="background-color: rgb(234, 205, 205);">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name" formControlName="firstCtrl" required>
      </mat-form-field>&nbsp;&nbsp;

      <mat-form-field appearance="outline">
        <mat-label>Middle Name</mat-label>
        <input matInput placeholder="Middle name" formControlName="firstCtrl" required>
      </mat-form-field>&nbsp;&nbsp;

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Address"
               required>
      </mat-form-field>&nbsp;&nbsp;

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Email"
               required>
      </mat-form-field>&nbsp;&nbsp;

      <mat-form-field appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Mobile Number"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Address"
               required>
      </mat-form-field>&nbsp;&nbsp;

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Address"
               required>
      </mat-form-field>&nbsp;&nbsp; <br>

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Address"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
