*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  height: calc(100% - 50px);
  width: 100%;
  background-color:rgb(214, 214, 242);
}

.card{
  margin: 20px;
  -webkit-box-shadow: -1px 0px 14px 0px rgba(207,149,207,0.86);
  -moz-box-shadow: -1px 0px 14px 0px rgba(207,149,207,0.86);
  box-shadow: -1px 0px 14px 0px rgba(207,149,207,0.86);
}

/* .card1{
  background-color: #fff;
  -webkit-box-shadow: -1px 0px 14px 0px rgba(207,149,207,0.86);
  -moz-box-shadow: -1px 0px 14px 0px rgba(207,149,207,0.86);
  box-shadow: -1px 0px 14px 0px rgba(207,149,207,0.86);
  width:800px;
}

.card2{
  background-color: #fff;
  -webkit-box-shadow: -1px 0px 14px 0px rgba(207,149,207,0.86);
  -moz-box-shadow: -1px 0px 14px 0px rgba(207,149,207,0.86);
  box-shadow: -1px 0px 14px 0px rgba(207,149,207,0.86);
  width:800px;
} */

/* .scnd-form{
  position: relative;
  top: 24px;
} */

.card-body{
  padding: 40px;
}

.example-full-width {
  width: 80%;
  height: 50px;
}
.example-full-widthh{
  width:94%;
  height: 50px;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}